/* General styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Navigation */
.navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navigation {
    display: flex;
    gap: 15px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
}

.logo {
    max-width: 70px;
}

.navigation a {
    text-decoration: none;
    color: black;
}

/* Header */
.title-header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title-header h1 {
    font-size: 2.5rem;
}

.title-header h5 {
    color: grey;
}

/* Main Content */
.gambardankontak {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.mySlides {
    display: none;
    animation: fadeInOut 5s linear infinite; /* Animasi fade antara gambar dengan durasi 3 detik */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}



.review {
    color: gray;
    flex-basis: 60%;
}

.review img {
    max-width: 100%;
    border-radius: 5px;
}

.textreview {
    margin: 0 20px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

#teks{
    flex-basis: 55%;
}

#textt{
    padding-left: 15%;
}

.biodata{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 15%;
}

#akun{
    width: 7%;
    height: 7%;
}

#reviewer, #jobreviewer{
    color: black;
    text-align: left;
    margin: 0;
}

.messageUs {
    background-color: rgb(238, 238, 238);
    border-radius: 8px;
    padding: 20px;
}

.inputSection {
    margin: 10px;
}

.textinput {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 20px;
    color: grey;
}

.labelinput {
    font-size: 0.8rem;
}

button {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    background-color: rgb(3, 1, 48);
    cursor: pointer;
}

/* Our Package and Destination */
.ourPackage,
.destination {
    padding: 30px;
    text-align: center;
}

.ourPackage{
    background-color: rgb(238, 238, 238);
}

.baris1,
.baris2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 10px;
}

#des1,
#des2,
#des3 {
    flex-basis: calc(33.33% - 20px);
}

.pembatas {
    font-size: 2rem;
    color: lightgray;
    text-align: center;
    margin-top: 0;
    font-family: Arial;
}

/* Closing */
.closing {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

#calltoaction {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    /* Hide navigation links */
    .navigation {
        display: none;
    }

    /* Show hamburger menu */
    .navigation-header {
        justify-content:space-between;
        margin: 0 5%;
    }

    .navigation-header::after {
        content: '\2630'; /* Unicode for hamburger icon */
        font-size: 24px;
        cursor: pointer;
    }

    /* Display Message Us section above the image */
    .gambardankontak {
        flex-direction: column-reverse;
    }

    .review {
        order: 2;
    }

    .messageUs {
        order: 1;
    }
    
    .textreview{
        margin: 5%;
    }

    #teks{
        flex-basis: 100%;
    }

    .biodata{
        align-items: center;
        gap: 20px;
        padding: 15%;
    }
}

/* Media query for desktop */
@media (min-width: 769px) {
    /* Show navigation links */
    .navigation {
        display: flex;
    }

    /* Hide hamburger menu */
    .navigation-header::after {
        display: none;
    }

    /* Keep Message Us section beside the image */
    .gambardankontak {
        flex-direction: row;
        align-items: flex-start;
    }

    .review {
        flex-basis: 60%;
    }

    .messageUs {
        flex-basis: 40%;
    }

    #textreview{
        flex-basis: 55%;
    }

    .textreview {
        margin: 0 20px;
        font-size: 14px;
        display: flex;
        flex-direction: row;
    }

    #teks{
        flex-basis: 55%;
    }

    .biodata{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-left: 15%;
    }
}


