.navigation-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    margin-right: 25px;
    margin-left: 50px;
}

.navigation{
    display: flex;
    gap: 30px;
    margin: 10px 50px 0px 0px;
}

.navigation a{
    text-decoration: none;
}

.title-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*MAIN */

.mainSection{
    display: flex;
    flex-direction: row;
}

.review{
    flex-basis: 60%;
    flex-grow: 0;
}

.review img{
    max-width: 100%;
    max-height: 50%;
}

.messageUs{
    flex-basis: 40%;
    flex-grow: 0;
    background-color: rgb(25, 163, 117);
    border-radius: 8px;
}

.inputSection{
    display: flex;
    flex-direction: column;
}

button{
    margin: 20px;
    border-radius: 5px;
    border: none;
}